  <div class="row" id="intro">
         
          <div class="col-sm-3">
            <ul class="nav nav-tabs nav-stacked" id="side">
                   <li class="active"><a data-toggle="tab" href="#acheivement">Headache</a></li>
               <li  ><a data-toggle="tab" href="#edu" id="act">Fever</a></li>
               <li><a data-toggle="tab" href="#work">Migrane</a></li>
            
              <li><a data-toggle="tab" href="#d1">Hair Loss</a></li>

              
            </ul>

</div>
      
          <div class="col-sm-9">
               <center><h1 id="heading1">Home Remedies </h1></center>
            <div class="tab-content">
              
            <div id="edu" class="tab-pane fade in active">
         <center><h1>Fever </h1></center>
         <br/><br/>
               
                  <div class="container-fluid col-sm-offset-1">
                <img src="views/d1.jpeg" />
                
                  <!--<div class="col-sm-6">
                    <ul>
                    <li>Following are the home remedies without any side effects.</li>
                      <li>Following are the home remedies without any side effects.</li>
                        <li>Following are the home remedies without any side effects.</li>
                    </ul>
                   </div>-->
                </div>
            </div>
                
                
           <div id="work" class="tab-pane fade">
               <center><h1>Migrane </h1></center>
         <br/><br/>
            
                  <div class="container-fluid col-sm-offset-1">
                      <center>  <img src="views/d2.jpeg" /></center>
                </div>
                  <!--<div class="col-sm-6">
                    <ul>
                    <li>Following are the home remedies without any side effects.</li>
                      <li>Following are the home remedies without any side effects.</li>
                        <li>Following are the home remedies without any side effects.</li>
                    </ul>
                   </div>-->
          </div>
          
         <div id="acheivement" class="tab-pane fade">
                <center><h1>Headache </h1></center>
         <br/><br/>
    
                  <div class="container-fluid col-sm-offset-1">
                <img src="views/d3.jpeg" />
                </div>
                 <!-- <div class="col-sm-6">
                    <ul>
                    <li>Following are the home remedies without any side effects.</li>
                      <li>Following are the home remedies without any side effects.</li>
                        <li>Following are the home remedies without any side effects.</li>
                    </ul>
                   </div>-->

         </div>
                
                 <div id="d1" class="tab-pane fade">
                <center><h1>Hair Loss </h1></center>
         <br/><br/>
                  <div class="container-fluid col-sm-offset-1">
                <img src="views/d4.jpeg" />
                </div>
                 <!-- <div class="col-sm-6">
                   <ul>
                    <li>Following are the home remedies without any side effects.</li>
                      <li>Following are the home remedies without any side effects.</li>
                        <li>Following are the home remedies without any side effects.</li>
                    </ul>
                   </div>-->

         </div>
           
        </div>
      </div>
     </div>