<div class="container-fluid" id="doneqp">
    <div class="row">
      <div class="col-sm-3">
        <h1>Filters</h1>
          <ul class="nav nav-pills nav-stacked">
  <li><a>By Category</a></li>
  <li><a>By Amount</a></li>
  <li><a>By Usage</a></li>
</ul>
     </div>
     <div  id="donate" class="col-sm-9">
         <center><h1>Available Equipments</h1></center>
         <br/><br/>
         <div ng-repeat="user in users">
         <div class="row" ng-repeat="equip in user.donateItem">
         <div class="col-sm-4">
             <img src="views/e1.jpeg" class="img-responsive img-thumbnail"/>
         </div>
         <div  class="col-sm-8">
             <h3>item Name:{{equip.itemName}}</h3>
             <h3>usage: {{equip.month}} months {{equip.years}} years</h3>
             <h3>item Description:{{equip.Description}}</h3>
             <button class="btn btn-primary">Buy Now</button>
         </div>
             
             <br><br>
         </div>
                          <br><br>

         </div>
         <br><br>
     </div>
    </div> 
</div>